@font-face {
    font-family: 'open_sans';
   src: url('fonts/opensans-regular-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
  }
   
  @font-face {
   font-family: 'open_sans';
   src: url('fonts/opensans-bold-webfont.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
  }
  
  @font-face {
   font-family: 'poppins';
   src: url('fonts/poppins-regular-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
  }
  
  @font-face {
   font-family: 'poppins';
   src: url('fonts/poppins-bold-webfont.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
  }

  html {
      background-color: lightsteelblue;
  }
  h1, h2 {
      font-family: 'poppins', arial, sans-serif;
      text-align: center;
  }

  p {
      font-family: 'open_sans', arial, sans-serif;
      text-align: center;
  }

  img {
      width: 100%;
  }

  button {
      cursor: pointer;
  }

  form {
      position: relative;
      left: 26rem;
  }

  header {
      grid-area: controls;
  }

  .line1 {
      grid-area: line1;
  }

  .line2 {
      grid-area: line2;
  }

  main {
      display: grid;
      grid-template-columns: repeat(3 1fr);
      grid-template-rows: repeat(1 100%);
      grid-template-areas: 
      "line1"
      "controls"
      "line2";
      justify-items: center;
      width: 1280px;
      height: 960px;
      
  }